.Footer {
    background-color: #353535;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.Footer p {
    margin: 10px 0;
}

.Footer a {
    color: #b2a6f3;
    text-decoration: none;
    font-weight: bold;
}

.Footer a:hover {
    color: #fff;
}